* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}

.text-title {
    font-size: 80px;
    padding-bottom: 32px;
}

.text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 32px;
}

.btn {
    padding: 20px 43px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 8px;
}

.photo {
    width: 635px;
    height: 800px;
    padding-right: 20px;
    padding-top: 50px;
}

.hot-deal-container {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
}

.container-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-left: 423px;
    padding-top: 230px;
}

span {
    color: #E55473;
}

.container-title-describe {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 395px;
}

#btn-change {
    align-items: center;
    justify-content: space-around;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 32px;
    margin-left:650px;
}
.deal-photo{
    width: 318px;
    height: 420px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 178px;
    padding-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;
}

.picture-container {
    display: flex;
    border-radius: 500px;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    margin-bottom: 10%;

}

.picture1 {
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 400px;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;

}

.picture2 {
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;
}

.picture3 {
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;
}

.fig-align {
    text-align: center;
    text-decoration-line: underline;
    font-weight: bolder;
}

.box {
    display: flex;
    width: 1440px;
    height: 320px;
    margin: auto;
    margin-bottom: 137px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
}

.icon {
    width: 88px;
    height: 88px;
    padding-left: 86px;

}

.icon3 {
    padding-right: 232px;

}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 119px;
}

.title-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.image-container {
    margin-left: 240px;
    margin-bottom: 128px;
}

.latest-details {
    width: 1390px;
    height: 449px;
    margin: auto;
    padding: 0px;
    background-image: url('./back\ 9.png');
    margin-bottom: 128px;
}

.latest-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
    padding-left: 534;
}

.latest-title-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email {
    border: none;
    width: 700px;
    height: 70px;
    border-radius: 8px;
    background: #FFF;

}
.place {
    margin-top: 30px;
    padding-left: 400px;
    justify-content: space-around;
    align-items: center;
}
.flowershop-container {
    background-color: #111010;
    width: 1922px;
    height: 449px;
}
.flowershop-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 210px;
    justify-content: space-around;
    margin-bottom: 32px;
}
.end-description {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.Flower-gardening{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 137px;
    margin-bottom: 120px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
#garden-photo{
    width: 400px;
    height: 350px;
}
#garden-title{
    padding-left: 300px;
    padding-bottom: 100px;
}