* {
    margin: 0px;
    padding: 0px;
}

.banner {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.title {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;

}
.featurecontainer > h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top: 8%;
    margin-bottom: 2%;
}
.featurecontainer > p{
    color: #343333;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    margin-bottom: 4%;

} 
.paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.btn{
    padding: 10px 20px;
    background-color: rgba(219, 20, 20, 0.692);
    color: white;
    border: none;
    border-radius: 5px;
    
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}      
span{
    color:rgba(219, 20, 20, 0.692);
}
.description,.head > h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: xx-large;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
justify-content: center;
}
.head > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
}
.paragraph,{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
}
.img{
    justify-content: space-evenly;
    align-items: center;
    white: space 5px;
    height: 100px;
}
.Subscribecontainer{
    background-image: url("../style/back\ 9.png");
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom:50px;
    background-position: center;  
    height: 250px;
}
.input{
    height: 60px;
    flex-shrink: 0;
    padding-right: 50px;
    border-radius: 8px;
    background: #FFF;
    width: 50%;
    text-align: center;
    border: none;
   
}
.Subscribecontainer > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(34, 32, 32, 0.706);
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;  
}
.section-title{
    color: #272727;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 40px;

}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.picture-container{
    display: flex;
    border-radius: 500px;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    margin-bottom: 10%;
    
}
.picture1{
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 400px;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;

}
.picture2{
    background:rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;
}
.picture3{
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 400px;  
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 10px;
}